/CREDITS-fml.txt
/forge-1.10.2-12.18.3.2422-changelog.txt
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/morefuelsmod-1.10_Client.launch
/morefuelsmod-1.10_Server.launch
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/README.txt
